/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  color: #393636;
  font-family: 'Raleway', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #393636;
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.6rem;
}
h4 {
  font-size: 2.2rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.4;
}
header {
  background-color: #9CEA8F;
  box-shadow: 0px 0px 5px rgba(82, 65, 65, 0.71);
}
.container {
  max-width: 1200px;
  width: 95%;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 0;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav a {
  color: rgba(82, 65, 65, 0.71);
  font-size: 2rem;
  text-decoration: none;
  align-items: center;
}
nav a:hover {
  color: #393636;
}
@media (max-width: 500px) {
  nav a {
    margin: 15px 0;
  }
}
nav a:first-child {
  width: 60%;
}
@media (max-width: 800px) {
  nav a:first-child {
    width: 100%;
    text-align: center;
    padding-bottom: 15px;
  }
}
@media (max-width: 500px) {
  nav a:first-child {
    padding-bottom: 0;
  }
}
footer {
  background-color: #9CEA8F;
  border-top: 1px solid #9CEA8F;
  box-shadow: 0px 0px 5px rgba(82, 65, 65, 0.71);
}
footer h3 {
  margin-bottom: 15px;
}
footer .container {
  padding: 20px 0px;
}
.content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 25px auto;
}
.content:last-child {
  border-bottom: none;
}
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6,
.content p {
  margin-bottom: 25px;
  width: 100%;
}
.content .half-section {
  width: 48%;
  margin: 1% 0;
}
.content .half-section img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 7px #393636;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .content .half-section {
    width: 100%;
  }
  .content .half-section:nth-child(2) {
    order: -1;
  }
}
.content .one-third-section {
  width: 30%;
  margin: 1% 0%;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .content .one-third-section {
    width: 100%;
    margin: 0;
  }
}
.content .one-third-section .card {
  width: 100%;
  margin: 20px 0;
  border: 1px solid black;
  border-radius: 5px;
}
.content .one-third-section .card:hover {
  box-shadow: 0px 0px 5px rgba(82, 65, 65, 0.71);
}
.content .one-third-section .card .card-img img {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
.content .one-third-section .card .card-info {
  padding: 5px;
  border-top: 1px solid #393636;
}
.content .one-third-section .card .card-info h4 {
  margin: 8px 0;
}
.content .one-third-section .card .card-info p {
  font-size: 1.6rem;
  padding-bottom: 10px;
  margin: 0;
}
@media (max-width: 500px) {
  .content .one-third-section .card {
    width: 80%;
  }
}
